@using SalesManager.Models
@{
    Layout = null;
}
@model ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống quản lý bán hàng</title>
    @Styles.Render("~/bundles/Css")
</head>
<body>
    <div class="wightfull">
        <div class="clear5px"></div>
        <div class="khungnoidungconten">
            <div class="khungcontenpading">
                <div class="w3-container w3-section w3-round w3-red" style="line-height: 50px; font-weight: bold;">HỆ THỐNG XẢY RA LỖI :<hr/> @Model.InnerException.StackTrace</div>
                <div class="clear5px"></div>
            </div>
        </div>
    </div>
</body>
</html>
